#grid{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    margin:auto;
    justify-content: center;
    max-width: 1200px;
}

.size{
    display:flex;
    align-items: center;
    justify-content: center;
    width:96px;
    height:96px;
    background-color: aqua;
}